<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Saga_One IT</h2>
        </header>
        <p>This is <strong>Saga_One</strong>,
        <br /> next level 
        <br /> <strong>IT automatisation</strong>
        <br />
        by <a href="https://sagaone.it">Maikel</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>