<header id="header">
				<h1 id="logo"><a href="/">SagaOne IT  <span>__by Maikel</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
                        <li class="submenu">
							<a href="">Services</a>
							<ul>
								<li><a href="/left-sidebar.html">weg met regulier systeembeheer</a></li>
								<li><a href="/right-sidebar.html">infra-as-a-code</a></li>
								<li><a href="/no-sidebar.html">Modern workspace</a></li>
								<li><a href="/about">About us</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/blog.html">Blog</a></li>
						<li><a href="/contact.html" class="button special">Get in Touch</a></li>
						<li><a href="https://gitlab.com/sa374/sagaone-online/-/commits/master"><img alt="pipeline status" src="https://gitlab.com/sa374/sagaone-online/badges/master/pipeline.svg" /></a></li>
					</ul>
				</nav>
			</header>